*{
	border: 0;
	margin: 0;
	padding: 0;
}
body{
	background-color: #fff;
	font-family: 'Open Sans', sans-serif;
}

#form-sing-up{
	background-color: #eee;
	margin: 20% auto;
	padding: 2em;
	text-align: center;
	width: 70%;
}

#form-sing-up input, button{
	display: block;
	margin: 1em 0;
	width: 100%;
}

#form-sing-up input[type=text], input[type=password] {
	background-color: #d8d8d8;
	font-size: 1em;
	padding: 0.5em 0;
}


#message-box{
	color: #000;
	height: 100%;
	width: 100%;
}

#messages{
	height: 90%;
	position: absolute;
	overflow: scroll;
	top: 0;
	width: 100%;
}

#modal-sing-up{
	background-color: rgba(0,0,0,0.9);
	bottom: 0;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}

#text-message{
	position: fixed;
	bottom: 0;
	left: 0;
	height: 10%;
	width: 100%;
	z-index: 1;
}

#text-message textarea{
	background-color: #802528;
	color: #eee;
	font-size: 1.4em;
	font-family: 'Monda', sans-serif;
}

.avatar{
	margin-left: 1em;
	text-align: center;
	width: 15%;
}
.avatar img{
	background-color: #802528;
	border-radius: 50%;
	height: 40px;
	margin: 0 auto;
	width: 40px;
}

.avatar, .msg{
	display: inline-block;
	vertical-align: middle;
}

.login{
	background-color: #2E9AFE;
	color: #eee;
	cursor: pointer;
	padding: 1em 0;
}

.message{
	border-bottom: solid 1px #d0d0d0;
	position: relative;
	width: 100%;
}
.message:first-child{
	background: #ddd;
}
.message:nth-child(2n+2){
	background-color: rgba(122,36,49, 0.2);
}
.message:nth-child(2n+1){
	background-color: #eee;
}

.msg{
	margin-right: 1em;
	padding: 0;
	width: 75%;
}
.msg p, h3{
	padding: 0;
	margin: 0;
	text-align: right;
}
.msg h3{
	font-size: 1em;
}
.msg p{
	font-size: 0.7em;
}